/*
*	style.css for Charlene Ruff's Website
*/

* {
    font-family: Helvetica, Arial !important;
}

body {
	padding-top:		50px;
}

.fa {
    font-family: 'FontAwesome' !important;
}

.front p {
    font-size: 12pt !important;  
    font-weight: 100;
}

.navbar-toggle {
    border: none;   
}

.jumbotron .container, .front, .container {
    max-width: 800px; 
    margin-right: auto;
    margin-left: auto;   
}

.cover {
    background-image: url(images/Optdesertbg.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow:1px 2px #000;
}

.cover p {
    font-size: 13pt;
}

footer .btn-info {
    margin-top: -6px; 
}

.small {
    font-size: 12pt !important;   
}

.front-img {
    border-radius: 30px;   
}

.space {
    height: 40px;   
}

ul {
    margin-top: 5px;   
}

.resume {
    max-width: 800px; 
    margin-right: auto;
    margin-left: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen 
and (max-width : 500px) {
    .user-pic {
        width: 80px;
        margin-left: -5px !important;
        margin-top: 25px !important;
    }
}